.headerlink {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 125px;
  text-decoration: none;
  color: black;
}

.menu{
  font-size: 16px;
  margin: 100px;
}

.text {
  text-align: center;
}

a#linky{
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a{
  text-decoration: none;
  color: black;
}

a#linky.actuallinks:hover{
  font-size: 25px;
  transition: 0.5s;
}

.bottom {
  position: absolute;
  bottom: 25px;
  left: 15px;


}

.headerlink:hover{
  color: #C70039;
  transition: 0.5s;
}
